@model SysAction

@{
    ViewBag.Title = "系统权限动作编辑";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    //Layout = null;
}
@section Styles{
    <style type="text/css">
        .has-feedback .form-control {
            padding-right: 25px;
            display: inline-block;
        }

        .form-horizontal .has-feedback .form-control-feedback {
            right: 15px;
        }
    </style>
}
@section Scripts{
    @Scripts.Render("~/bundles/JQValidation")
    <script src="~/Scripts/UserJS/FormValidation.js"></script>
    <script type="text/javascript">
        $(function () {
            var _rules = {
                Name: {
                    required: true,
                    maxlength: 20
                },
                ModuleID: {
                    required: true
                },
                Sort: {
                    required: true
                }
            };
            _messages = {
                ModuleID: {
                    required: "必须选择！"
                }
            };
            FormValidation.init(_rules, _messages);
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AddTime)

        <div class="form-group has-feedback">
            <label class="control-label col-xs-4" for="Name">
                权限名称
                <span class="required"> * </span>
            </label>
            <div class="col-xs-8">
                <input type="text" value="@Model.Name" name="Name" id="Name" class="form-control single-line">
                <span class="glyphicon form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-xs-4" for="ParentID">
                父级模块
            </label>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.ModuleID, (IEnumerable<SelectListItem>)ViewBag.ParentSysModuleSelectList, "选择一个父级模块...", new { @class = "form-control" })
                <span class="glyphicon form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-xs-4" for="Sort">排序</label>
            <div class="col-xs-8">
                <input type="number" value="@Model.Sort" name="Sort" id="Sort" class="form-control single-line" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-8">
                <input type="submit" value="保  存" class="btn btn-primary" />
            </div>
        </div>

        <div class="alert alert-success feedinfo" role="alert"></div>
    </div>
}